@model FormFile

<div class="card">
    <div class="card-header">
            <div class="card-text">
                <h3>Add catalog by zip</h3>
            </div>
        </div>
    <form method="post" enctype="multipart/form-data">
        <div class="card-body">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <input class="form-control" name="file" type="file" accept="application/x-zip-compressed" />
        </div>
        <div class="card-footer">
            <div class="row">
                <button class="btn btn-success">Import</button>
            </div>
        </div>
    </form>
</div>